# Node.js
**/node_modules/

# Environment files
**/.env
**/.env*

# Build directories
**/dist/
**/build/

# Frontend specific (future proofing)
**/.next/
**/out/

#videos file
**/hls/*
**/videos/*
**/uploads/*
